{% extends 'KitpagesCmsBundle:page:cms-edit-layout.html.twig' %}

{% block body %}
<h1>Create Zone</h1>

<form action="{{ path('kitpages_cms_zone_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock body %}