<div class="kit-cms kit-cms-zone">
    <div class="kit-cms-zone-toolbar">
        <ul class="kit-cms-menu">
            <li>Zone</li>
            {% for action in actionList %}
                <li class="{{action.class|default()}}" ><a href="{{action.url}}">{{action.label}}</a></li>
            {% endfor %}
        </ul>
        <div class="kit-cms-zone-container">
            {{ htmlBlock | raw}}
        </div>
     </div>
</div>

