<div class="kit-cms kit-cms-block-toolbar">
    <ul class="kit-cms-menu">
        <li>Block</li>
        {% for action, url in listAction %}
        <li><a href='{{url}}' >{{action}}</a></li>
        {% endfor %}
    </ul>
</div>

