{% autoescape false %}
<div class="app-block-standard">
    
    <h2>{% if data.root.title|default('') %}{{data.root.title}}{% endif %}</h2>
    {% if data.root.date|default('') %}date:{{data.root.date}}{% endif %}<br />
    
    {% if data.root.content|default('') %}<div>{{data.root.content | truncate(40) }}</div>{% endif %}
    <a href="{{ path('page_news', { 'kitCmsBlockSlug': data.block.slug }) }}" >En savoir plus</a>
    
</div>
{% endautoescape %}