{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}
{% block body %}
    <script type="text/javascript" src="{{ asset ("bundles/kitpagescms/js/jQuery/kitCmsModal.js") }}" ></script>
    <script>
        $(document).ready(function() {
            $('.kit-cms-modal-open > a').kitCmsModal({closable:false});
        });
    </script>
    <div class="kit-cms-arbo kit-cms">
        <h1>Arbo</h1>
        {% set cycle = 0 %}
    {% include 'KitpagesCmsBundle:Nav:arboChildren.html.twig' with {'arbo': arbo } %}
    </div>
{% endblock body %}
