{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}
{% block body %}
    <script type="text/javascript" src="{{ asset ("bundles/kitpagescms/js/jQuery/kitCmsModal.js") }}" ></script>
    <script>
        $(document).ready(function() {
            $('.kit-cms-modal-open > a').kitCmsModal({closable:false});
            $('a.kit-cms-modal-open').kitCmsModal({closable:false});
        });
    </script>
    <div class="kit-cms-tree kit-cms">
        <h1>Tree</h1>
        <a class="kit-cms-modal-open kit-cms-publish-all" href="{{ path('kitpages_cms_nav_publish_all', { 'kitpages_target' : path('kitpages_cms_nav_tree') }) }}">
            <img src="{{asset("bundles/kitpagescms/icon/publish.png")}}"/> Publish all pages and navigation
        </a>
        <script>
            $('.kit-cms-publish-all').click(function(e) {
                var response = confirm("Do you confirm you want to publish all pages and the navigation ?");
                if (!response) {
                    e.preventDefault();
                }
            });
        </script>

        {% set cycle = 0 %}
    {% include 'KitpagesCmsBundle:Nav:treeChildren.html.twig' with {'tree': tree } %}
    </div>
{% endblock body %}
