<div class="kit-cms kit-cms-toolbar">
    <div class="kit-cms-toolbar-main">
        <ul class="kit-cms-toolbar-main-contextSwitch">
            <li {% if viewMode == 0 %}class="kit-cms-selected"{% endif %}>
                <a href="{{ path('kitpages_cms_admin_view_mode_change', { 'viewMode': 0, 'kitpages_target' : target }) }}">Production</a>
            </li>
            <li {% if viewMode == 1 %}class="kit-cms-selected"{% endif %}>
                <a href="{{ path('kitpages_cms_admin_view_mode_change', { 'viewMode': 1, 'kitpages_target' : target }) }}">Preview</a>
            </li>
            <li {% if viewMode == 2 %}class="kit-cms-selected"{% endif %}>
                <a href="{{ path('kitpages_cms_admin_view_mode_change', { 'viewMode': 2, 'kitpages_target' : target }) }}">Edit</a>
            </li>
        </ul>
    </div>
</div>