<div class="admin-toolbar">
    <div class="admin-toolbar-mainToolbar"></div>
    <ul class="admin-toolbar-contextSwitch">
        <li {% if viewMode == 0 %}class="selected"{% endif %}>
            <a href="{{ path('kitpages_cms_admin_view_mode_change', { 'viewMode': 0, 'target' : target }) }}">Production</a>
        </li>
        <li {% if viewMode == 1 %}class="selected"{% endif %}>
            <a href="{{ path('kitpages_cms_admin_view_mode_change', { 'viewMode': 1, 'target' : target }) }}">Preview</a>
        </li>
        <li {% if viewMode == 2 %}class="selected"{% endif %}>
            <a href="{{ path('kitpages_cms_admin_view_mode_change', { 'viewMode': 2, 'target' : target }) }}">Edit</a>
        </li>
    </ul>
    <div style="clear:both"></div>
    <hr/>
    <div class="admin-toolbar-module">
    </div>
    <div class="admin-toolbar-html">
    </div>
</div>