{% extends '::base.html.twig' %}
{% block body %}
<div class="layout-inside-column">
    {% render 'KitpagesCmsBundle:Page:widgetZone' with {'location_in_page': 'column', 'page':kitCmsPage} %}
</div>
<div class="layout-inside-main">
    <h1>{{kitCmsPage.title}}</h1>
    <div class="app-separator"></div>
    {% render 'KitpagesCmsBundle:Page:widgetZone' with {'location_in_page': 'main', 'page':kitCmsPage} %}
</div>
<div style="clear:both;"></div>
{% endblock body %}
