{% extends 'KitpagesCmsBundle:Page:cms-edit-layout.html.twig' %}

{% block body %}
<h1>Create Page Technical</h1>

<form class="kit-cms-form" action="{{ path('kitpages_cms_page_edit_link', { 'id': id , 'kitpages_target': kitpages_target } ) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock body %}