{% extends cms.layout %}

{% block siteNavigation %}
    {% render 'KitpagesCmsBundle:Nav:widget' with {
        'slug': kitCmsPage.language|default(cms.currentLanguage) ~ '-main',
        'cssClass': "kit-cms-navigation-top",
        'currentPageSlug':kitCmsPage.slug|default(''),
        'startDepth':1 ,
        'endDepth':1}
    %}
{% endblock  siteNavigation %}

{% block mainNavigation %}
    {% render 'KitpagesCmsBundle:Nav:widget' with {
        'slug': kitCmsPage.language|default(cms.currentLanguage) ~ '-main',
        'cssClass': "kit-cms-navigation-main",
        'currentPageSlug':kitCmsPage.slug|default(''),
        'startDepth':2 ,
        'endDepth':2}
    %}

{% endblock  mainNavigation %}

{% block footerNavigation %}
    {% render 'KitpagesCmsBundle:Nav:widget' with {
        'slug': kitCmsPage.language|default(cms.currentLanguage) ~ '-footer',
        'cssClass': "kitpages-cms-navigation-footer",
        'currentPageSlug':kitCmsPage.slug|default('')}
    %}
{% endblock  footerNavigation %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kitpagescms/css/common.css') }}"  media="screen" />
{% endblock stylesheets %}


{% block kitpages_cms_toolbar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="kit-cms kit-cms-toolbar">
        {% render 'KitpagesCmsBundle:Toolbar:widgetToolbar'%}
        {% if (viewMode is defined) and ( (viewMode == 2) or (viewMode == 3) ) %}
            {% render 'KitpagesCmsBundle:Page:widgetToolbar' with {'page':kitCmsPage} %}
        {% endif %}
        </div>
        <script>
            $(document).ready(function() {
                $(".kit-cms-delete-button > a").click(function(e) {
                    var response = confirm("Do you confirm your delete action ?");
                    if (!response) {
                        e.preventDefault();
                    }
                });
            });
        </script>
    {% endif %}
{% endblock kitpages_cms_toolbar %}

