{% extends 'KitpagesCmsBundle:page:layout.html.twig' %}
{% block mainNavigation %}
{% render 'KitpagesCmsBundle:Nav:widget' with {'label':'main', 'slug':page.slug} %}
{% endblock  mainNavigation %}
{% block toolbar %}
<div class="kit-cms kit-cms-toolbar">
{% render 'KitpagesCmsBundle:Admin:widgetToolbar'%}
{% if viewMode == 2 %}
{% render 'KitpagesCmsBundle:Page:widgetToolbar' with {'page':page} %}
{% endif %}
</div>
{% endblock toolbar %}
