{% extends cms.layout %}

{% block mainNavigation %}
    {% render 'KitpagesCmsBundle:Nav:widget' with {'slug':'main', 'currentPageSlug':page.slug|default(''), 'startDepth':1 , 'endDepth':1} %}
{% endblock  mainNavigation %}

{% block secondNavigation %}
    {% render 'KitpagesCmsBundle:Nav:widget' with {'slug':'main', 'currentPageSlug':page.slug|default(''), 'startDepth':2 , 'endDepth':4} %}
{% endblock  secondNavigation %}

{% block footerNavigation %}
    {% render 'KitpagesCmsBundle:Nav:widget' with {'slug':'footer', 'currentPageSlug':page.slug|default('')} %}
{% endblock  footerNavigation %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kitpagescms/css/common.css') }}"  media="screen" />
{% endblock stylesheets %}


{% block toolbar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="kit-cms kit-cms-toolbar">
        {% render 'KitpagesCmsBundle:Toolbar:widgetToolbar'%}
        </div>
    {% endif %}
{% endblock toolbar %}

