{% extends cms.layout %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/kitpagescms/css/common.css') }}"  media="screen" />
{% endblock stylesheets %}
{% block toolbar %}
<div class="kit-cms kit-cms-toolbar">
{% render 'KitpagesCmsBundle:Admin:widgetToolbar'%}
</div>
{% endblock toolbar %}
