<div class="kit-cms-toolbar-page">
    <div class="kit-cms-toolbar-page-action">
        <ul class="kit-cms-toolbar-page-contextSwitch">
            <li>
                <a href="{{ path('kitpages_cms_page_publish', { 'id': page.id, 'kitpages_target' : target }) }}">Publish</a>
            </li>
            <li>
                <a id="kit-cms-page-edit" >Edit</a>
            </li>
            <li>
                {% if page.isPublished == 1 %}PAGE PUBLISHED{% else %}PAGE NO PUBLISHED{% endif %}
            </li>
        </ul>
    </div>
    <div class="kit-cms-toolbar-page-form kit-cms-hidden">
        {% render 'KitpagesCmsBundle:Page:edit' with {'id': page.id, 'inToolbar' : true, 'target' : target } %}
    </div>
</div>
<script>
$('#kit-cms-page-edit').click(function() {
    if ($('.kit-cms-toolbar-page-form').hasClass('kit-cms-hidden')) {
        $('.kit-cms-toolbar-page-form').removeClass('kit-cms-hidden');
    } else {
        $('.kit-cms-toolbar-page-form').addClass('kit-cms-hidden');
    }
});
</script>

