
/*
 * Toolbar
 */
.kit-cms {
}
.kit-cms a {
    text-decoration: none;     
}
.kit-cms ul {
    margin: 0px;
    padding: 0px;
}
.kit-cms-toolbar {
    display: table;
    width: 100%;
}

.kit-cms-toolbar-main {
    display: table-row;
    height: 42px;
    background-image: url('common/bg-toolbar.jpg');
    background-repeat: repeat-x;
    width: 100%;
}

.kit-cms-toolbar-main > ul {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.kit-cms-toolbar-main > ul > li {
    display: inline-block;
}
.kit-cms-toolbar-main > ul > li > a {
    display: block;
    width: 100px;
    margin: 0px 10px;
    padding: 3px 0px;
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(128,128,128,0.7);
    text-align: center;
    color: #000;
}

.kit-cms-toolbar-main > ul > li > a:hover {
    background-color: #BB092D;
    color: #FFF;
}
.kit-cms-toolbar-main > ul > li.kit-cms-selected > a {
    background-color: #BB092D;
    color: #FFF;
}

.kit-cms-toolbar-main ul.kit-cms-tooblar-main-contextSwitch {
    text-align: right;
}

/*
 * zone or block menu
 */
.kit-cms .kit-cms-menu {
    height: 30px;
    background-color: #E3E3E3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #E3E3E3;
    padding-left: 20px;
}
.kit-cms-menu > li {
    display: inline-block;
    position: relative;
    top: 4px;
}
.kit-cms-menu > li > a {
    display: block;
    margin: 0px 5px;
    padding: 1px 10px;
    background-color: #FFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    text-align: center;
    color: #000;
}
.kit-cms-menu > li > a:hover {
    background-color: #BB092D;
    color: #FFF;
}

.kit-cms-block-container {
    border: 1px solid #E3E3E3;
    margin-bottom: 1px;
}

.kit-cms-zone-container {
    border: 1px solid #E3CCCC;
    padding: 1px;
    margin-bottom: 1px;
}

.kit-cms .kit-cms-zone-toolbar > .kit-cms-menu {
    background-color: #E3CCCC;
}