
.kit-cms-hidden{
    display: none!important;
}

.kit-cms-odd {
    background-color: #E0E0E0;
}
.kit-cms-even {
    background-color: #FFF;
}

.kit-cms h1 {
    font-size: 2.5em;
}
.kit-cms h2 {
    font-size: 1.8em;
    padding-bottom: 5px;
    border-bottom: 1px dotted #DDD;
    margin-bottom: 5px;
}
.kit-cms h3 {
    font-size: 1.4em;
}
.kit-cms-toolbar-extra-form {
    padding: 20px;
}
.kit-cms-form {
    display: block;
    border: 1px solid #D0D0D0;
    padding: 10px;
    width: 800px;
}
.kit-cms-form > div {
    display: block;
    padding: 4px;
    border: 1px dotted #F0F0F0;
    background-color: #F8F8F8;
    margin-bottom: 10px;
}
.kit-cms-form label {
    display: block;
    vertical-align: middle;
}
.kit-cms-form > div > input {
    display: block;
}
.kit-cms-form > input[type="submit"] {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}

.kit-cms-form label.kit-cms-advanced {
    background-color: #FFEEEE;
}
.kit-cms-form-help {
    font-size: 0.9em;
    color: #808080;
}

textarea.kit-cms-rte-simple {
    width: 500px;
    height: 250px;
}
textarea.kit-cms-rte-advanced {
    width: 500px;
    height: 300px;
}

/*
 * Toolbar
 */
.kit-cms {
}
.kit-cms a {
    text-decoration: none;
}
.kit-cms ul {
    margin: 0px;
    padding: 0px;
}
.kit-cms-toolbar {
    display: table;
    width: 100%;
    z-index: 1000;
    font-family: Verdana, Arial;
    font-size: 12px;
}
.kit-cms-toolbar ul, .kit-cms-toolbar li {
    margin: 0px;
    padding: 0px;
}
.kit-cms-toolbar img{
    vertical-align: middle;
}
.kit-cms-toolbar-top {
    display: block;
    height: 42px;
    background-image: url('common/bg-toolbar.jpg');
    background-repeat: repeat-x;
    width: 100%;
}

.kit-cms-toolbar-top > ul {
    display: block;
}
.kit-cms-toolbar-top > ul > li {
    display: inline-block;
}
.kit-cms-toolbar-top > ul > li > a {
    display: block;
    margin: 7px 10px;
    padding: 3px 10px;
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(128,128,128,0.7);
    text-align: center;
    color: #000;
}

.kit-cms-toolbar-top > ul > li > a:hover {
    background-color: #BB092D;
    color: #FFF;
}
.kit-cms-toolbar-top > ul > li.kit-cms-selected > a {
    background-color: #BB092D;
    color: #FFF;
}

.kit-cms-toolbar-top > ul.kit-cms-toolbar-top-context-switch {
    float: right;
}
.kit-cms-toolbar-top > ul.kit-cms-toolbar-top-actions {
    float: left;
}

.kit-cms-toolbar-top > ul > li > a.kit-cms-advanced-mode-button-selected {
    background-color: #BB092D;
    color: #FFF;
}

.kit-cms-toolbar-page-form {
    background-color: #FFFFFF;
}


.kit-cms-expand{
    background-image: url(common/moins.gif);
    background-repeat:  no-repeat;
    background-position:0px 5px;
    padding-left: 10px;
}

.kit-cms-no-expand{
    background-image: url(common/plus.gif);
    background-repeat:  no-repeat;
    background-position:0px 5px;
    padding-left: 10px;
}

.kit-cms-toolbar-page-action > ul {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.kit-cms-toolbar-page-action > ul > li {
    display: inline-block;
}
.kit-cms-toolbar-page-action > ul > li > a {
    display: block;
    width: 100px;
    margin: 0px 10px;
    padding: 3px 0px;
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(128,128,128,0.7);
    text-align: center;
    color: #000;
}

.kit-cms-toolbar-page-action > ul > li > a:hover {
    background-color: #BB092D;
    color: #FFF;
}
.kit-cms-toolbar-page-action > ul > li.kit-cms-selected > a {
    background-color: #BB092D;
    color: #FFF;
}

.kit-cms-toolbar-page ul.kit-cms-tooblar-main-contextSwitch {
    text-align: right;
}

/*
 * zone or block menu
 */
.kit-cms-menu, .kit-cms .kit-cms-menu {
    background-color: #E3E3E3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #E3E3E3;
    padding: 2px;
    padding-left: 5px;
}
.kit-cms-menu > li {
    display: inline-block;
    position: relative;
}
.kit-cms-menu > li > a {
    display: block;
    margin: 0px 5px;
    padding: 1px 10px;
    background-color: #FFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    text-align: center;
    color: #000;
}
.kit-cms-menu > li > a > img {
    vertical-align: middle;
}
.kit-cms-menu > li > a:hover {
    background-color: #BB092D;
    color: #FFF;
}

.kit-cms-block-toolbar .kit-cms-menu > li {
    position: relative;
    top: 0px;
}
.kit-cms-block-toolbar .kit-cms-menu > li > a {
    margin: 0px 2px;
    padding: 1px 3px;
    padding-bottom: 0px;
    border-radius: 3px;
    text-align: center;
    border: none;
}

.kit-cms-block-container {
    border: 1px solid #E3E3E3;
    margin-bottom: 1px;
}

.kit-cms-zone-container {
    border: 1px solid #E3CCCC;
    padding: 1px;
    margin-bottom: 1px;
}

.kit-cms .kit-cms-zone-toolbar > .kit-cms-menu {
    background-color: #E3CCCC;
}


/*
 *  arbo
 */
.kit-cms-arbo {
}
.kit-cms-arbo > .kit-cms-arbo-node-container:first-child {
    margin: 0px;
}
.kit-cms-arbo > .kit-cms-arbo-node-container:first-child > .kit-cms-arbo-node:first-child > .kit-cms-arbo-line:first-child {
    border-top: 1px solid #D0D0D0;
}
.kit-cms .kit-cms-arbo-node-container {
    margin-left: 20px;
    list-style: none;
}
.kit-cms-arbo-line {
    background-color: #F0F0F0;
    border-bottom: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
}
.kit-cms-arbo-line:hover {
    background-color: #FFFF80;
}
.kit-cms-arbo-line > a {
    display: block;
    color: #313131;
    text-decoration: none;
    float: left;
    padding-left: 3px;
    padding-top: 5px;
}
.kit-cms-arbo-page-title {
}
.kit-cms-arbo-page-slug {
    font-weight: bold;
}
.kit-cms-arbo-page-slug:before {
    content: "(";
}
.kit-cms-arbo-page-slug:after {
    content: ")";
}
.kit-cms-arbo-actions {
    display: block;
    float:right;
}

.kit-cms-arbo-actions.kit-cms-menu {
    height: auto;
    background-color: transparent;
    border-radius: none;
    border: none;
}
.kit-cms-arbo-actions.kit-cms-menu > li {
    top: 0px;
}
.kit-cms-arbo-actions.kit-cms-menu > li > a {
    margin: 2px 2px;
    border-radius: 3px;
    border: 0px;
}

.kit-cms-arbo-indicator-link {
    font-style: italic;
    color: #808080;
    font-size: 0.9em;
}
.kit-cms-arbo-edit-button {
    vertical-align: middle;
}

.kit-cms-modal-overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.kit-cms-modal-overlay-progress {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    width: 16px;
    height: 16px;

    background-image: url(common/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: left top;
}